.menu {
  .item {
    // gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 13px;
      font-weight: 400;
    }

    .listItem {
      border-radius: 5px;
      padding: 10px;
      &:hover {
        background: #3b3a3a;
        border-radius: 10px;
      }
    }
  }
}
